<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hi</title>
  </head>
  <body>
    {{#each errorMessages}}
    <p style= "color:red">{{message}}</p>

    {{/each}}
    {{#each successMessage}}
    <p style= "color:lightgreen">{{message}}</p>
    {{/each}}
    
    {{{body}}}

  </body>
</html>
