<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post">
      <p>
      Email:<input type="text" name="email" placeholder="Type your Email">
      Password:<input type="password" name="password" placeholder="Type your Password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
    <p>I am the login</p>
  </body>
</html>
